*,
html,
body {
  @apply m-0 p-0 box-border font-dmsans;
}

img {
  @apply max-w-full align-middle;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  @apply !max-w-[1440px];
}

.authGradiant{
  background: linear-gradient(180deg, #9892BE 0%, #D6C8D5 100%);
}